# Emacs backups
\#*#
.#*
*~

# Vim backups
.*.sw[po]

# Patch files
*.orig
*.rej
*.diff
*.patch

# Account created during test
accounts/keystore/*

# Data
/data/node[0-9]*/network/
/data/node[0-9]*/chains/
/data/node[0-9]*/keys/
/data/node[0-9]*/blockInfos/
/data/node[0-9]*/blocks/
/data/node[0-9]*/bloom/
/data/node[0-9]*/canonicalHashTrie/
/data/node[0-9]*/code/
/data/node[0-9]*/headers/
/data/node[0-9]*/peers/
/data/node[0-9]*/pendingtxs
/data/node[0-9]*/receipts/
/data/node[0-9]*/state/
/data/node[0-9]*/discoveryNodes/
/data/node[0-9]*/log
/data/node[0-9]*/blocks.log
/data/node[0-9]*/check.log
/data/node[0-9]*/checkRandomSeed.log
/data/node[0-9]*/checkRandomSeedDebug.log
/data/node[0-9]*/nethermind.logs.txt
/data/reserved-peers
/data/spec.json
/data/StakingToken.json
build

# NPM files
/node_modules/
